# Database Connection String (Vercel Postgres / Neon / PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_Rpb2NiG9DmMa@ep-still-flower-aw3tnyp6-pooler.c-12.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

# NextAuth Secret for JWT Encryption
NEXTAUTH_SECRET="34b5aca91aa78b1c42d8daa1b0935679c214bed0635e587af6bf380ac56d15d7"
NEXTAUTH_URL="ai-first-hackathon-2026.vercel.app"
